<div class="col-md-6">
  <h2> User Details</h2>

  <div class="col-md-3">
    <label for="name">Name:</label>
    <input type="text" [(ngModel)]="userSearch.name" name="name" class="form-control" id="name" (input)="startSearch()">
  </div>
  <div class="col-md-3">
    <label for="username">Username:</label>
    <input [(ngModel)]="userSearch.username" name="username" class="form-control" id="username"  (input)="startSearch()">
  </div>
  <div class="col-md-3">
    <label for="email">Email address:</label>
    <input type="email" [(ngModel)]="userSearch.email" name="email" class="form-control" id="email" (input)="startSearch()">
  </div>

  <div class="col-md-3">
    <label for="email">Company:</label>
    <select class="form-control" [(ngModel)]="companySelected"  >
      <option *ngFor="let company of companies" value={{company.idCompanies}}>
        {{company.companyName}}
      </option>
    </select>
  </div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>UserName</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.idUsers}}</td>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
